$primary: #0099d4;
$background-dark: #0b1519;
$card-dark: #111827;
$text-dark: #e5e7eb;
$text-light: #1f2937;
$background-light: #f3f4f6;

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    background-color: $background-dark;
    color: $text-dark;
}


